<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.helpdev.supportlib_locations">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
